<!-- <h1 class="title text-center">Employee Management System</h1> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->
<!-- *ngIf = "!isUserLoggedIn" -->
<body>   
    <div class="wrapper">
        <div class="logo"> <img
                src="https://www.freepnglogos.com/uploads/cycle-png/pdca-management-business-analytics-cycle-planning-1.png"
                alt="">
        </div>
        <div class="text-center mt-4 name"> Employee Management System </div>
        <form class="p-3 mt-3">
            <small id="errmsg" *ngIf='invalidCredentials'>{{errorMessage}}</small>
            <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input type="email"
                    name="username" id="username" placeholder="Username" [(ngModel)]='username'> </div>
            <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input type="password"
                    name="password" id="pwd" placeholder="Password" [(ngModel)]='password'> </div>
            <button (click)=handleLogin() class="btn mt-3">Login</button>
        </form>
        <!-- <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="#">Sign up</a> </div> -->
    </div>
    
</body>


    




<!-- https://www.freepnglogos.com/uploads/donald-duck-png/donald-duck-download-child-and-family-assessment-social-work-31.png -->



















<!-- 
<div class="container">
    <div>
<label for="username">Username:</label>
<input type="email" name="username" id="username" [(ngModel)] = 'username'>
</div>
<div>
<label for="password">Password:</label>
<input type="password" name="password" id="passowrd" [(ngModel)] = 'password'>
</div>
</div>
<button (click) = handleLogin() class="btn btn-lg btn-success">Submit</button> -->