<app-welcome></app-welcome>
<h1 class = title>Compliance Details</h1>
<!-- <h5 class="add-emp"><a class="text-secondary" routerLink="employee/add"><i class="bi bi-plus-circle"></i>Add Compliance</a></h5> -->
<button type="button" class="btn btn-default btn-lg bg-secondary add-emp">
    <i class="bi bi-plus-circle"></i> Add Compliance
  </button>
<div class="table-responsive">
    <table class="table table-striped table-sm table-dark">
        <thead>
            <tr>
                <th>Compliance ID</th>
                <th>Type</th>
                <th>Details</th>
                <th>Created On</th>
                <th>Department</th>
                <th>Employee Count</th>
                <th>Status</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
            <tr>
                <td>101</td>
                <td>I dont know</td>
                <td>Idk</td>
                <td>10-03-2020</td>
                <td>HR</td>
                <td>44</td>
                <td>Completed</td>
                
            </tr>
           
        </tbody>
    </table>
</div> 

